@font-face {
    font-family:'cooper_hewittbold';
    src: url('Fonts/cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('./Fonts/cooperhewitt-bold-webfont.woff') format('woff'),
        url('cooperhewitt-bold-webfont.woff2') format('woff2'),
         url('cooperhewitt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, html{
    height: 100%;
    margin: 0;
    color: #fff;
    font-family: 'Montserrat';
}

body{
    background: url('/background.svg') no-repeat;
    background-size: cover;
    padding-bottom: 500px;
}

.nav-collapse {
    margin-left: 2em!important;
  }

h1{
    font-family: 'cooper_hewittbold';

}

.icon{
    font-size: 5.5em; 
    color: #F03A21;
}

.alinha{
    text-align: center; 
    font-size: 1.2em;
}

.virado{
    height: 100px; 
    background: rgb(255,37,52);
    background: linear-gradient(22deg, rgba(255,37,52,1) 5%, rgba(219,86,8,1) 100%);
    transform: rotate(5deg); 
    box-shadow: 5px 1px 50px rgb(37, 32, 32); 
    text-align: center; 
    padding: 35px;
}

#fale{
    background: rgb(255,37,52);
    background: linear-gradient(22deg, rgba(255,37,52,1) 5%, rgba(219,86,8,1) 100%);
    padding: 15px;
}

@media (max-width: 1440px){
    .link{
        margin-left: 15px!important;
    }

    .last{
        margin-right: -20px!important;
    }

    .txt{
        margin-top: 100px!important;
    }
}

@media (max-width: 1024px){
    .link{
        font-size: 0.9em;
    }
    .last{
        margin-right: 210px!important;
    }

    .mdc{
        color: white!important;
    }
}

@media (max-width: 768px){
    .link{
        margin-left: 0!important;

    }

    .mdc{
        color: white!important;
    }

    body{
        background-size: 2100px!important;
    }

    .sub{
        float: none!important;
        text-align: center!important;
        width: 100%!important;
    }

    .subd{
        margin-left: 135px!important;
    }
}

@media (max-width: 425px){
    body{
        background-size: 2900px!important;
    }

    .subd{
        width: 350px!important;
        margin-left: 0px!important;
    }
}

@media (max-width: 375px){
    body{
        background-size: 2700px!important;
    }


    .subd{
        width: 325px!important;
        margin-left: 0px!important;
    }

    .virado{
        height: 150px;
    }

    .prin{
        width: 100%!important;
    }
}

@media (max-width: 320px){
    body{
        background-size: 3200px!important;
    }

    .main{
        font-size: 4.5em!important;
    }

    .subd{
        width: 275px!important;
        margin-left: 0px!important;
    }
}
